@font-face {
    font-family: 'BNazanin';
    src: url('../fonts/B Nazanin.eot');
    src: local('☺'), url('../fonts/B Nazanin.woff') format('woff'),
    url('../fonts/B Nazanin.ttf') format('truetype'),
    url('../fonts/B Nazanin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: BNazanin;
    text-align: right;
}
a:hover {
    cursor: pointer;
}
form * {
    font-family: BNazanin;
}
a {
    text-decoration: none;
}
a .box {
    text-decoration: none;
}
a .box-header {
    text-decoration: none;
}
a .box-content {
    text-decoration: none;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body *{
    direction: rtl;
}

i {
    color: white;
}

.header .social-icons-header {
    background: #373c43;
}
.header .social-icons-header i {
    margin-left: 10px;
}

.navbar {
    border: 1px solid #dfdfdf;
}
.navbar .navbar-nav *{
    direction: ltr;
}
.navbar i {
    color: #000;
}

.box {
    /*padding: 2px;*/
    /*padding-top: 0;*/
    border: 1px solid #e0e0e0;
    margin-bottom: 21px;
    margin-left: 10px;
    /*padding: 2px;*/
}
.box .row {
    /*padding: 5px;*/
    /*padding-top: 0;*/
}
.box .box-header {
    background: #f8f9fa;
    height: 50px;
    /*padding: 10px;*/
    /*margin: ;*/
    /*margin-left: 0.1px;*/
    /*margin-right: 0.1px;*/
}
.box .box-content {
    min-height: 50px;
    /*max-height: 60px;*/
}

.box.center .box-header {
    text-align: center;
}
.box.center .box-content {
    text-align: center;
}

.main {
    margin-top: 20px;
}
.side-bar i {
    color: black;
}

.right {
    float: right;
}
.left {
    float: left;
}
.center {
    text-align: center;
    margin: auto;
}

.border-bottom {
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.07);
}

.no-decorated,
.no-decorated:hover {
    text-decoration: none;
}

.dir-fa {
    direction: rtl;
    text-align: right;
}
.dir-en {
    direction: ltr ;
    text-align: left;
}
