/** {*/
    /*font-family: BNazanin;*/
/*}*/
/*h4 {*/
    /*font-family: BNazanin !important;*/
/*}*/
.container.product {
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.09);
    min-height: 500px;
    padding: 5px;
    padding-top: 10px;
}
.product .images {
    border-left: 1px solid rgba(0,0,0,0.07);
}
.product .main-image {
    margin-bottom: 5px;
}
.product .main-image img {
    max-width: 500px;
}
.product .similar-images img {
    width: 100px;
    height: 100px;
    margin: 1px;
}

.product-detail .detail-item {
    font-size: 19px;
}
.product-detail .detail-item .fa {
    font-size: 10px;
}
.product-detail .detail-item .label {
    color: rgba(25,25,25,0.24);
}
.product-detail .detail-item .value {
    color: rgba(25,25,25,0.5);
    font-weight: 500;
}
.product-detail .detail-item:hover {
    font-size: 21px;
    cursor: pointer;
}
.product-detail .detail-item:hover .label {
    color: rgba(25,25,25,0.7);
}

.product-detail .color-item {
    width: 7px;
    height:7px;
    display: inline-block;
}